/* -webkit-backdrop-filter: blur(6px); */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ddc0ff;
  padding: 0 20px;
}

h1 {
  background-image: url('img.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 20px;
  margin-top: 0;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 10px;
}


ul {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #9b85b5;           
  list-style-position: inside;
  backdrop-filter: blur(6px); 
  border-radius: 10px;
  list-style-position: inside;
}


li {
  margin: 10px 0;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #7c43c1;
  transition: color 0.2s ease;
}

a:hover {
  color: #9b85b5;
  text-decoration: underline;
}