* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  height: 100vh;
  background: url('background.jpg') no-repeat center/cover ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.clock {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
}

.time-box {
  background-color: rgba(0, 0, 128, 0.7);
  padding-top: 10px;
  border-radius: 10px;
  min-width: 80px;
  text-align: center;
}

.time {
  font-size: 2.5rem;
  font-weight: bold;
}

.label {
  font-size: 0.8rem;
  margin-top: 5px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 15px 5px;
  border-radius: 5px;
  color: #eee;
}

.ampm {
  background-color: #00aa00;
  color: white;
  padding: 18px 14px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
